body {
    /* Box-model */
    padding: 0;
  
    /* Positioning */
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
  
    /* Typography */
    font-size: 18px;
    line-height: 150%;
    color: rgb(51, 51, 51);
  
    /* Visual */
    background: #efeee7;
  }
  
  header {
    background: #1013d2;
  }
  
  h1 {
    /* Box-model */
    padding: 20px 0;
  
    /* Positioning */
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
  
    /* Typography */
    color: #eee;
    text-align: center;
  
    /* Visual */
    background: rgb(91, 151, 56);
  }
  
  h2 {
    font-size: 24px;
  }
  
  a {
    color: #1310d2;
  }
  

  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
  }
  
  #bio-image {
    /* Box-model */
    width: 200px;
    height: 200px;
  
    /* Positioning */
  
    margin-right: 20px;
  }
  
    /************ containers *********/

    .gallery {
      /* Box-model */
      width: 200px;
      height: 100px;
    
      /* Positioning */
      margin: 0 auto;
    }
     div.gallery {
        border: 1px solid #ccc;
      }
      
      div.gallery:hover {
        border: 1px solid #777;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
      
      div.desc {
        padding: 15px;
        text-align: center;
      }
      
      * {
        box-sizing: border-box;
      }
      
      .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
      }
      
      @media only screen and (max-width: 700px) {
        .responsive {
          width: 49.99999%;
          margin: 6px 0;
        }
      }
      
      @media only screen and (max-width: 500px) {
        .responsive {
          width: 100%;
        }
      }
      
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }

    
  